*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: aliceblue;
}

section {
    border-bottom: 1px solid rgb(0,0,0,0.4);
}

h1, h2 {
    letter-spacing: 3px;
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
}

@media (min-width: 50px) {
    .nav-links {
        width: 50px;
    }
}

.title {
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-family: 'Lexend Tera', sans-serif;
    letter-spacing: 5px;
    font-size: 100px;
  }
  
.homepage {
    text-align: center;
    color: rgb(4, 33, 77);
}
  
.homepage img {
    height: 200px;
    margin: 1%;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.nav-links {
    display: flex;
    width: 50%;
    padding-top: none;
    color: rgb(51, 156, 163);
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    min-block-size: 40px;
    background-color: white;
    text-shadow: 1px 1px 2px;
    letter-spacing: 3px;
    font-size: 20px;
}
  
.nav-links:hover {
    color: rgb(247, 179, 8);
}
  
.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(23, 97, 102);
}
  
.article {
    color: rgb(152, 199, 202);
    background: rgb(4, 33, 77);
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}
  
.podcast_card {
    color: rgb(208, 252, 255);
    background-color: rgb(12,23,24);
    padding: 3%;
    border-width: 50%;
    width: 400px;
    display: inline-block;
    margin: 0.5%;
}
  
.podcastPage {
    text-align: center;
}
  
.about_card {
    color: white;
    padding: 3%;
    border-width: 50%;
    width: 400px;
    display: inline-block;
    margin: 0.5%;
    background-color: rgb(51, 156, 163);
    border-radius: 20px;
}
  
.about_card:hover {
    box-shadow: 2px 2px 5px rgb(51, 156, 163);
}

.flexSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.spaceBetween {
    padding: 1em;
    justify-content: space-between;
}

.latestPodcasts {
    height: 50vh;
}

.videoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    gap: 2em;
    margin: 2em;
}

.videoContainer div {
    background-color: red;
}

.comingSoon {
    min-height: 20vh;
}

.comingSoon i {
    font-size: 2rem;
}

.bestOfIlluminate {
    padding: 2em;
    padding-bottom: 3em;
}

.blogCard {
    display: flex;
    width: 50vw;
    background-color: white;
    margin-top: 1em;
    border: 1px solid rgb(0,0,0,0.4);
    cursor: pointer;
}

.blogCard img {
    width: 100px;
    height: 100px;
    margin: 0;
    border-right: 1px solid rgb(0,0,0,0.4);
}

footer {
    min-height: 15vh;   
}

footer a {
    color: black;
}

.blogCardContainer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogCardInfo {
    padding: 0.2em 1em;
}

.blogCardInfo * {
    float: left;
    clear: both;
}

.date {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.socials {
    display: inline;
}

.socials * {
    margin: 0 0.5em;
    font-size: 40px;
}